@page
@model MJ_Rent_Login.Pages.BorrowRecords.DetailsModel

@{
    ViewData["Title"] = "詳細內容";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>詳細內容</h1>

<div>
    <h4>訂房紀錄</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.BorrowDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.BorrowDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.PreBorrowTimeLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.PreBorrowTimeLength)天
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.ActualBorrowTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.ActualBorrowTime)天
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BorrowRecord?.Id">編輯</a> |
    <a asp-page="./Index">返回列表</a>
</div>
