@page
@model MJ_Rent_Login.Pages.BorrowRecords.IndexModel

@{
    ViewData["Title"] = "訂房紀錄";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>訂房紀錄</h1>

<p>
    <a asp-page="Create">新增紀錄</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRecord[0].RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRecord[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRecord[0].BorrowDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRecord[0].PreBorrowTimeLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRecord[0].ActualBorrowTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowRecord) {

            // 在此做 LINQ Query
            int roomId = item.RoomId;

            var queryRoomName = from m in Model._context.MeetRoom
                                where m.Id == roomId
                                select m.Name;

            string RoomName = queryRoomName.First();

        <tr>
            <td>
                @RoomName
                <!--@Html.DisplayFor(modelItem => item.RoomId)-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreBorrowTimeLength)天
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualBorrowTime)天
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">編輯</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">詳細內容</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
